<html>
  <head>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
<% if z and z.result != nil %>
	<% z.result.getColumnDef.each do |col| %>
	        data.addColumn('string', '<%=col.name%>');
	<% end %>
	<% if z.result.rows != nil %>
	        data.addRows([
	            <% z.result.rows.each do |row| %>
		      [
			  <% row.each do |cell| %>
			    '<%= cell.to_s().gsub("'","\\\\'") %>',
			  <% end %>
		      ],
		    <% end %>
		]);
	
	<% end %>
<% end %>
        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {showRowNumber: true});
      }
    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
</html>


