<div ng-controller="NotebookCtrl" ng-Init="init()">
  <button
    ng-click="createNote()"
    type="button"
    class="btn btn-link"
    id="newNotebookButton"
    style="font-size: 16px;text-decoration: none;">
    <span style="color:#999;" class="glyphicon glyphicon-plus"></span> 
    New Notebook
  </button><br/>
  <span class='btn-group' style="margin-bottom: 15px;" ng-repeat="notes in noteInfo">
    <button ng-click="getNote(notes.id)"type='button' class='btn btn-default btn-sm' id="{{notes.id}}">Note {{$index}}</button>
    <button ng-click="removeNote(notes.id)" type='button' class='btn btn-default btn-sm' id="{{notes.id}}_del" ><span class='glyphicon glyphicon-remove'></span></button>&nbsp;
  </span>
  <div ng-repeat="currentParagraph in note.paragraphs"
       ng-controller="ParagraphCtrl"
       ng-Init="init(currentParagraph)"
       ng-include src="'views/paragraph.html'">
   
  </div>
</div>
