<div>
  <div class="noteAction" ng-show="note.id">
    <h3> <input type="text" class="form-control2" placeholder="{{note.name || 'Note ' + note.id}}" style="width:200px;" ng-show="showEditor" ng-model="noteName" ng-enter="sendNewName()"/>
         <p class="form-control-static2" ng-click="showEditor = true" ng-show="!showEditor">{{note.name || 'Note ' + note.id}}</p>
      <span class="label">
        <button type="button" class="btn btn-default btn-xs" ng-click="removeNote(note.id)"><span class="fa fa-times"></span> remove</button>
      </span>
    </h3>
  </div>
  <div ng-repeat="currentParagraph in note.paragraphs"
       ng-controller="ParagraphCtrl"
       ng-Init="init(currentParagraph)"
       ng-include src="'views/paragraph.html'">
  </div>
</div>
