<div id="{{paragraph.id}}_container" style="background: rgba(255, 255, 255, 0.9);" class="paragraph well well-sm">
  <div id="{{paragraph.id}}_control" class="control">
    <!-- Editor handler -->
    <span class="fa fa-compress" style="cursor:pointer"
          ng-click="closeEditor()"
          ng-show="paragraph.isEditorOpen == true && paragraph.isOpen == true"></span>
    <span class="fa fa-expand" style="cursor:pointer"
          ng-click="openEditor()"
          ng-show="paragraph.isEditorOpen == false && paragraph.isOpen == true"></span>
    
    <!-- paragraph handler -->
    <span class="glyphicon glyphicon-minus" style="cursor:pointer"
          ng-click="closeParagraph()"
          ng-show="paragraph.isOpen == true"></span> 
    <span class="glyphicon glyphicon-collapse-up" style="cursor:pointer"
          ng-click="openParagraph()"
          ng-show="paragraph.isOpen == false"></span>
    
    <!-- remove paragraph -->
    <span class="glyphicon glyphicon-remove" style="cursor:pointer"></span>
  </div>
  <div ng-show="paragraph.isOpen == true">
    <div ng-show="paragraph.isEditorOpen == true">
      <div id="{{paragraph.id}}_editor"
           style="opacity: 1;"
           class="editor" ui-ace="{ onLoad : aceLoaded}"
           ng-model="paragraph.text"
           ng-class="{'disable': paragraph.status == 'RUNNING' || paragraph.status == 'PENDING' }">
      </div>
      <form id="{{paragraph.id}}_form" role="form" class="form-horizontal" style="margin-top: 15px;">
        <div class="form-group"
             ng-repeat="formulaire in paragraph.settings.forms"
             ng-Init="loardForm(formulaire, paragraph.settings.params)">
          <label class="col-sm-1 control-label">{{formulaire.name}}</label>
          <div class="col-sm-3">
            <input class="form-control" 
                   ng-enter="sendParagraph(getEditorValue())"
                   ng-model="forms[formulaire.name]"
                   name="{{formulaire.name}}">
            </input>
          </div>
        </div>
      </form>
    </div>
    <!-- Rendering -->
    <div class='tableDisplay'>
      <div id="{{paragraph.id}}_msg"
           ng-hide="paragraph.result.type == 'TABLE'" 
           ng-Init="loadResultType(paragraph.result)"
           ng-bind-html="paragraph.result.msg">
      </div>

      <div id="{{paragraph.id}}_switch"
           ng-show="paragraph.result.mode"
           class="btn-group"
           style='margin-bottom: 10px;'>
        <button type="button" class="btn btn-default" ng-click="setMode('TABLE', paragraph.result)" ><i class="fa fa-table"></i></button>
        <button type="button" class="btn btn-default" ng-click="setMode('multiBarChart', paragraph.result)"><i class="fa fa-bar-chart"></i></button>
        <button disabled type="button" class="btn btn-default" ng-click="setMode('pieChart', paragraph.result)"><i class="fa fa-pie-chart"></i></button>
        <button disabled type="button" class="btn btn-default" ng-click="setMode('stackedAreaChart', paragraph.result)"><i class="fa fa-area-chart"></i></button>
        <button disabled type="button" class="btn btn-default" ng-click="setMode('lineChart', paragraph.result)"><i class="fa fa-line-chart"></i></button>
      </div>

      <table class="table table-hover table-condensed"
             ng-show="graphMode == 'TABLE'">
        <thead>
          <tr style="background-color: #EFEFEF; font-weight: bold;">
            <th ng-repeat="val in paragraph.result.columnNames track by $index">{{val}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in paragraph.result.msg track by $index">
            <td ng-repeat="val in item track by $index">{{val.value}}</td>
          </tr>
        </tbody>
      </table>
      <!-- ng-show="paragraph.result.mode == 'LINE'" -->
      <nvd3 ng-show="graphMode != 'TABLE' && graphMode != ''" 
            options='d3.options' 
            config='d3.config' 
            data='d3.data'>
      </nvd3>
    </div>
    <div id="{{paragraph.id}}_status" class="status">Shift+Enter to Run. {{paragraph.status}}</div>
  </div> 
</div>