.modal-header-rename {
  background-color: #3071a9;
  border: 2px solid #3071a9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-header-rename .close {
  color: #cfcfcf;
  opacity: 1;
}

.modal-header-rename .modal-title {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.modal-body-rename label {
  font-size: 17px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
}
