<div nz-row nzGutter="24">
  <div
    *ngFor="let form of forms; trackBy: trackByNameFn"
    class="form-item"
    nz-col
    nzSpan="12"
    nzXl="6"
    nzLg="8"
    nzMd="12"
    nzSm="24">
    <ng-container [ngSwitch]="form.type">
      <input *ngSwitchCase="formType.TextBox"
             nz-input
             [(ngModel)]="paramDefs[form.name]"
             [disabled]="disable"
             (ngModelChange)="onFormChange()">
      <input *ngSwitchCase="formType.Password"
             nz-input
             type="password"
             [(ngModel)]="paramDefs[form.name]"
             [disabled]="disable"
             (ngModelChange)="onFormChange()">
      <nz-select *ngSwitchCase="formType.Select"
                 [nzDisabled]="disable"
                 [(ngModel)]="paramDefs[form.name]"
                 (ngModelChange)="onFormChange()">
        <nz-option *ngFor="let opt of form.options"
                   [nzLabel]="opt.displayName || opt.value"
                   [nzValue]="opt.value">
        </nz-option>
      </nz-select>
      <nz-checkbox-group *ngSwitchCase="formType.CheckBox"
                         [nzDisabled]="disable"
                         [(ngModel)]="checkboxGroups[form.name]"
                         (ngModelChange)="checkboxChange($event, form.name)">
      </nz-checkbox-group>
    </ng-container>
  </div>
</div>
