Package: [[deb.pkg.name]]
Version: [[version]]-[[buildNumber]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Jongyoul Lee <jongyoul@gmail.com>
Description: [[name]]
Distribution: development