.modal-header-note-name {
  background-color: #3071a9;
  border: 2px solid #3071a9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-header-note-name > .modal-title {
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.modal-header-note-name > .close {
  color: #cfcfcf;
  opacity: 1;
}

.modal-body-note-name label {
  font-size: 17px;
  font-weight: 400;
}

.note-name-create-input {
  margin-top: 5px;
}

.note-name-desc-panel {
  margin-top: 20px;
  margin-bottom: 4px;
}

.default-interpreter-select {
  margin-top: 12px;
}
