<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container bs-docs-nav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Zeppelin</a>
    </div><!-- navbar-header -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to "zql"}}ZQL{{/link-to}}</li>
        <li>{{#link-to "zan"}}ZAN{{/link-to}}</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!-- container -->
</div><!-- navbar -->

<div class="container bs-docs-container">
  <div id="alert"></div>
  <p />
  {{yield}}
</div>
