<div class="container-fluid">
  <button type="button" class="btn btn-link" id="newNotebookButton" style="font-size: 16px;text-decoration: none;">
    <span style="color:#999;" class="glyphicon glyphicon-plus"></span> 
    New Notebook
  </button><br \>
  <div id="notebookList" class="notebookList"></div>
  <div id="notebook" class="note"></div>
</div>
