.select2-dropdown {
  z-index: 10003;
}

.permissionsForm {
  list-style-type: none;
  background: #EFEFEF;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #E5E5E5;
}

.owners, .readers, .writers {
  width:60px;
  display: inline-block;
}
