<div id="p{{paragraph.id}}_graph"
     class="graphContainer"
     ng-class="{'noOverflow': getGraphMode()=='table'}"
     ng-if="getResultType()=='TABLE'"
     allowresize="{{!asIframe && !viewOnly}}"
     resizable on-resize="setGraphHeight();">

  <div ng-if="getGraphMode()=='table'"
       id="p{{paragraph.id}}_table"
       class="table">
  </div>

  <div ng-if="getGraphMode()=='multiBarChart'"
       id="p{{paragraph.id}}_multiBarChart">
    <svg></svg>
  </div>

  <div ng-if="getGraphMode()=='pieChart'"
       id="p{{paragraph.id}}_pieChart">
    <svg></svg>
  </div>

  <div ng-if="getGraphMode()=='stackedAreaChart'"
       id="p{{paragraph.id}}_stackedAreaChart">
    <svg></svg>
  </div>

  <div ng-if="getGraphMode()=='lineChart'"
       id="p{{paragraph.id}}_lineChart">
    <svg></svg>
  </div>

  <div ng-if="getGraphMode()=='lineWithFocusChart'"
       id="p{{paragraph.id}}_lineWithFocusChart">
    <svg></svg>
  </div>

  <div ng-if="getGraphMode()=='scatterChart'"
       id="p{{paragraph.id}}_scatterChart">
    <svg></svg>
  </div>
</div>
