<div nz-form nzLayout="inline">
  <nz-form-item>
    <nz-form-label>xAxis</nz-form-label>
    <nz-form-control>
      <nz-radio-group [(ngModel)]="xLabelStatus" (ngModelChange)="onStatusChange()" [nzButtonStyle]="'solid'">
        <label nz-radio-button nzValue="default">Default</label>
        <label nz-radio-button nzValue="rotate">Rotate</label>
        <label nz-radio-button nzValue="hide">Hide</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="xLabelStatus === 'rotate'">
    <nz-form-label>degree</nz-form-label>
    <nz-form-control>
      <input nz-input
             style="width: 50px"
             placeholder="degree"
             [(ngModel)]="degree"
             (keydown.enter)="onDegreeChange()"
             (blur)="onDegreeChange()" />
    </nz-form-control>
  </nz-form-item>



</div>
