<div class="content">
  <div class="inner">
    <div class="form">
      <form nz-form nzLayout="vertical">
        <nz-form-item>
          <nz-form-label nzRequired>User Name</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
              <input nz-input [(ngModel)]="userName" placeholder="User Name" name="userName" required/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Password</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock">
              <input nz-input [(ngModel)]="password" placeholder="Password" name="password" type="password" required/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="login()" [nzLoading]="loading">Login</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div class="sidebar">
      <h1>Welcome to Zeppelin!</h1>
      Zeppelin is web-based notebook that enables interactive data analytics.<br/>
      You can make beautiful data-driven, interactive, collaborative document with SQL, code and even more!<br/>
    </div>
  </div>
</div>
