.interpreter .interpreter-title {
  font-size:20px;
  font-weight:bold;
  color:#3071a9;
}

.interpreter ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.interpreter .interpreterInfo {
  list-style-type: none;
}

.interpreter .properties {
}

.interpreter .properties tr td {
}


.interpreter .properties textarea {
  padding : 5px 5px 5px 5px;
  width: 100%;
  display: block;
  max-height: 100px;
  overflow-y: auto;
}

.interpreter table tr .interpreterPropertyKey {
  padding : 5px 5px 5px 5px;
}

.interpreter table tr .interpreterPropertyValue {
  padding : 5px 5px 5px 5px;
  display: block;
  max-height: 100px;
  overflow-y: auto;
}

.interpreterSettingAdd {
  margin : 5px 5px 5px 5px;
  padding : 10px 10px 10px 10px;
}