body {
  padding-top: 50px;
  position: relative; /* For scrollyspy */
  font-family : "Open Sans",Arial,Helvetica,Sans-Serif;
  font-size: 12px;
}

footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #EEEEEE;
  font-size : 9px;
  color : gray;
}

.report {
    padding : 10px 10px 10px 10px;
    margin-top : -50px;
}

a {
    cursor : pointer;
}

#alert {
}

#info .info{
    border: 1px solid green;
    font-size: 10px;
    color: green;
    background-color:#98FB98;
}

#zqlEditorHeader {
    height : 25px;
}

#zqlEditorHeader div{
    float: right;
}

.zqlEditor {
    height : 500px;
}

#zqlEditorArea {
    display : none;
}

#zqlJobName {
    border : 0px solid #dddddd;
    width :100%;
    font-weight : bold;
    color : #555555;
}


#zqlJobCron {
    border : 0px solid #dddddd;
    width :100%;
    font-weight : bold;
    color : #555555;
}

#visualizationContainer{
    margin : 0px;
    padding : 0px;
}

#visualizationContainer iframe{
    border : 0px solid #CCCCCC;
    width:100%;
    height : 0px;
}

#visualizationContainer .visTitle{
    border-bottom : 1px solid #CCCCCC;
    font-weight: bold;
}

.zanWaitForComplete{
    height:200px;
    text-align:center;
    vertical-align:middle    
    display:inline-block;
    margin: 30px 30px 30px 30px;
}
.zanLibraryInformation{
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top : 1px solid #CCCCCC;
    background-color: #ffffff;
    padding: 0px 10px 10px 10px;
    margin: 5px 10px 5px 10px;
}

.zanLibraryInformation .installed{
}

#jobList ol li{
    border-bottom : 1px solid #CCCCCC;
    border-top : 1px solid #CCCCCC;
    margin-top : -1px;
}
#jobList ol li div{
    display :inline;
}
#jobList ol li .job-content{
    margin-left: 10px;
}



.dd { position: relative; display: block; margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 30px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; margin: 0px 0; padding: 0px 0px; color: #333; text-decoration: none; font-weight: bold; 
    border: 0px solid #ccc;
/*
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
*/
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
    cursor:move;
    width: 20px;
    height: 25px;
    text-align: center;
    display:inline-block;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}