{#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
{%- if INTERPRETER_LAUNCH_MODE and INTERPRETER_LAUNCH_MODE == 'yarn' -%}
{{ DOCKER_HADOOP_HDFS_HOME }}/bin/yarn jar \
{%- else -%}
{{ SUBMARINE_HADOOP_HOME }}/bin/yarn jar \
{%- endif %}
  {{ HADOOP_YARN_SUBMARINE_JAR }} job run \
  --name {{ JOB_NAME }} \
  --env DOCKER_JAVA_HOME={{ DOCKER_JAVA_HOME }} \
  --env DOCKER_HADOOP_HDFS_HOME={{ DOCKER_HADOOP_HDFS_HOME }} \
  --env YARN_CONTAINER_RUNTIME_DOCKER_CONTAINER_NETWORK=bridge \
  --env TZ="{{ DOCKER_CONTAINER_TIME_ZONE }}" \
  --checkpoint_path {{ CHECKPOINT_PATH }} \
  --queue {{ SUBMARINE_YARN_QUEUE }} \
  --num_workers 0 \
  --tensorboard \
  --tensorboard_docker_image {{ TF_PARAMETER_SERVICES_DOCKER_IMAGE }} \
  --keytab {{ SUBMARINE_HADOOP_KEYTAB }} \
  --principal {{ SUBMARINE_HADOOP_PRINCIPAL }} \
  --distribute_keytab \
  --verbose