/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

body .container{
    margin-bottom:15px;
}

footer{
    position:fixed;
    bottom:0;
    z-index: 10;
    height: 15px;
    width:100%;
}
.zeppelin-color {
    color : #3071a9;
}

.row {
    margin-left:0px;
    padding-bottom:15px;
}

.content-style2 {/*
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1e90ff), to(#1e90ff));
    background-image: -webkit-linear-gradient(top, #1e90ff, 0%, #1e90ff, 100%);
    background-image: -moz-linear-gradient(top, #1e90ff 0%, #1e90ff 100%);
    background-image: linear-gradient(to bottom, #1e90ff 0%, #1e90ff 100%);
    background-repeat: repeat-x;
    background-color: #B0C4DE;
*/

    background-color: #55a3a9;
    color: white;
}

.content-style2 a{
    color : white;
    text-decoration:underline;
}

.rotate90 {    
  -webkit-transform: rotate(90deg); 
     -moz-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
       -o-transform: rotate(90deg); 
          transform: rotate(90deg);
            float: left;        
            vertical-align:top;    
}
.rotate270 {    
  -webkit-transform: rotate(270deg); 
     -moz-transform: rotate(270deg); 
      -ms-transform: rotate(270deg); 
       -o-transform: rotate(270deg); 
          transform: rotate(270deg);
}


.content-style3 {
    background-color: #3071a9;
    color: white;
}

.table-stack {
/*    border: 1px solid #6371a9;*/
}

.table-stack tr td{
    border: 1px solid #FFFFFF;
    height : 40px;
    background-color : #6371a9;
    color : #FFFFFF;
}

.inactive {
    border: 1px solid #AAAAAA;    
}
.inactive tr td {
    border: 1px solid #AAAAAA;    
    background-color : #DDDDDD;    
    color : #777777;
}