{
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "angular": false,
    "_": false,
    "jQuery": false,
    "hljs": false,
    "confirm": false,
    "alert": false,
    "nv": false,
    "ace": false,
    "d3": false,
    "MathJax": false,
    "BootstrapDialog": false,
    "Handsontable": false,
    "moment": false,
    "zeppelin" : false
  },
  "rules": {
    "no-bitwise": 2,
    "camelcase": 2,
    "curly": 2,
    "eqeqeq": 2,
    "wrap-iife": [2, "any"],
    "no-use-before-define": 0,
    "new-cap": 2,
    "no-caller": 2,
    "quotes": [2, "single"],
    "no-shadow": 0,
    "no-undef": 2,
    "no-unused-vars": [2, { "vars": "local", "args": "none" }],
    "strict": [2, "global"]
  }
}
